<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.webp">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>

    <div class="main-content">
        {{>header}}
        <p>This site was created by Mayank Kharab. It uses data from weatherstack.com and maps.googleapis.com</p>
        <img src="/img/photo.jpg" class="portrait">
    </div>

    {{>footer}}
</body>

</html>