<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.webp">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>

    <div class="main-content">
        {{>header}}
        <p>{{message}}</p>

        <p>Connect with the developer 
            <a href="https://www.linkedin.com/in/mayank-kharab-2515731ab/" target="_blank">https://www.linkedin.com/in/mayank-kharab-2515731ab/</a></p>
    </div>

    {{>footer}}
</body>

</html>